{% extends 'base.html.twig' %}

{% block title %}Hello DestinationDetailsController!
{% endblock %}

{% block body %}

	{{ app.session.set('ville',ville.name)}}
	{% set d = app.session.remove('destination') %}
	{% set c =  app.session.remove('contact') %}
	<div class="destination_banner_wrap overlay" style="background-image:url({{asset('/img/place/'~ ville.image)}});">
		<div class="destination_text text-center">
			<h3>{{ville.name | replace({'_': " "})}}</h3>
			<span class="d-flex justify-content-center align-items-center">
				<a href="{{path('ville_like', {'id':ville.id})}}" class="btn btn-link js-like">
					{% if app.user  and  ville.isLikedByUser(app.user) %}
						<i class="fas fa-heart fa-7x " style=" color: red;"></i>
					{% else %}
						<i class="far fa-heart fa-7x" style=" color: red;"></i>
					{% endif %}

				</a>
			</span>
		</div>
	</div>
	<!-- start description-->
	<div class="destination_details_info">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8 col-md-9">
					<div class="destination_info">

						<h3>Description</h3>
						{{ville.description | raw}}
					</div>
					<div class="bordered_1px"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- end description-->

	<div class="row justify-content-center">
		<div class="col-lg-6">
			<div class="section_title text-center mb_70">
				<h3>La carte</h3>
			</div>
		</div>
	</div>


	<!-- start map-->
	<div class="container">
		<div class="d-none d-sm-block mb-5 pb-4">
			<div id="map" style="height: 480px; width: 770px; position: relative;"></div>


			<div class="col-lg-4" style=" left: 790px; top: -480px;">
				<div class="filter_result_wrap">
					<h3>Filter de résultats</h3>
					<div class="filter_bordered">
						<div class="filter_inner">
							<div class="row">
								<form class="was-validated">
									{% if hotelMarkers is not empty %}
										<div class="custom-control form-check-inline custom-checkbox mb-3">
											<input type="checkbox" class="custom-control-input" id="customControlValidation1" value="hotels" required checked>
											<label class="custom-control-label" for="customControlValidation1">Hotels</label>
											<img src='{{asset("img/marker_icon/hotel_30.png")}}' alt="">
											<div class="invalid-feedback">Not checked</div>
										</div>
									{% else %}
										<div class="custom-control form-check-inline custom-checkbox mb-3">
											<input type="checkbox" class="custom-control-input" id="customControlValidation1" value="hotels" required disabled>
											<label class="custom-control-label" for="customControlValidation1">Hotels</label>
											<img src='{{asset("img/marker_icon/hotel_30.png")}}' alt="">
											<div class="invalid-feedback">Not checked</div>
										</div>
									{% endif %}

									{% if restoMarkers is not empty %}
										<div class="custom-control custom-checkbox mb-3">
											<input type="checkbox" class="custom-control-input" id="customControlValidation2" value="restos" required checked>
											<label class="custom-control-label" for="customControlValidation2">Restorants</label>
											<img src='{{asset("img/marker_icon/resto_30.png")}}' alt="">
											<div class="invalid-feedback">Not checked</div>
										</div>
									{% else %}
										<div class="custom-control custom-checkbox mb-3">
											<input type="checkbox" class="custom-control-input" id="customControlValidation2" value="restos" required disabled>
											<label class="custom-control-label" for="customControlValidation2">Restorants</label>
											<img src='{{asset("img/marker_icon/resto_30.png")}}' alt="">
											<div class="invalid-feedback">Not checked</div>
										</div>
									{% endif %}

									{% if activiteMarkers is not empty %}
										<div class="custom-control custom-checkbox mb-3">
											<input type="checkbox" class="custom-control-input" id="customControlValidation3" value="restos" required checked>
											<label class="custom-control-label" for="customControlValidation3">Activités</label>
											<img src='{{asset("img/marker_icon/activite30.png")}}' alt="">
											<div class="invalid-feedback">Not checked</div>
										</div>
									{% else %}
										<div class="custom-control custom-checkbox mb-3">
											<input type="checkbox" class="custom-control-input" id="customControlValidation3" value="restos" required disabled>
											<label class="custom-control-label" for="customControlValidation3">Activités</label>
											<img src='{{asset("img/marker_icon/activite30.png")}}' alt="">
											<div class="invalid-feedback">Not checked</div>
										</div>
									{% endif %}

									{% if campingMarkers is not empty %}
										<div class="custom-control custom-checkbox mb-3">
											<input type="checkbox" class="custom-control-input" id="customControlValidation4" value="restos" required checked>
											<label class="custom-control-label" for="customControlValidation4">Campings</label>
											<img src='{{asset("img/marker_icon/tent30.png")}}' alt="">
											<div class="invalid-feedback">Not checked</div>
										</div>
									{% else %}
										<div class="custom-control custom-checkbox mb-3">
											<input type="checkbox" class="custom-control-input" id="customControlValidation4" value="restos" required disabled>
											<label class="custom-control-label" for="customControlValidation4">Campings</label>
											<img src='{{asset("img/marker_icon/tent30.png")}}' alt="">
											<div class="invalid-feedback">Not checked</div>
										</div>
									{% endif %}
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>

			<script language="JavaScript" type="text/javascript" src="/js/vendor/jquery-1.12.4.min.js"></script>

			<script>
				var hotelMarkers = [];
var campingMarkers = [];
var restoMarkers = [];
var activiteMarkers = [];
			</script>

			{% for hotelMarker in hotelMarkers %}
				<script>
					var hotelMarker = {
position: {
lat: {{ hotelMarker.lat }},
lng: {{ hotelMarker.lng }}
},
title: "{{ hotelMarker.name | replace({' ': '_'}) }}"
};
hotelMarkers.push(hotelMarker);
				</script>
			{% endfor %}


			{% for campingMarker in campingMarkers %}
				<script>
					var campingMarker = {
position: {
lat: {{ campingMarker.lat }},
lng: {{ campingMarker.lng }}
},
title: "{{ campingMarker.name | replace({' ': '_'}) }}"
};
campingMarkers.push(campingMarker);
				</script>
			{% endfor %}


			{% for activiteMarker in activiteMarkers %}
				<script>
					var activiteMarker = {
position: {
lat: {{ activiteMarker.lat }},
lng: {{ activiteMarker.lng }}
},
title: "{{ activiteMarker.name | replace({' ': '_'}) }}"
};
activiteMarkers.push(activiteMarker);
				</script>
			{% endfor %}


			{% for restoMarker in restoMarkers %}
				<script>
					var restoMarker = {
position: {
lat: {{ restoMarker.lat }},
lng: {{ restoMarker.lng }}
},
title: "{{ restoMarker.name | replace({' ': '_'}) }}"
};
restoMarkers.push(restoMarker);
				</script>
			{% endfor %}


			<script>
				let lat = {{ villeMarker.lat }};
let lng = {{ villeMarker.lng }};
			</script>
			<script src="{{ asset('js/animation-map-filter.js') }}"></script>
			<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCmC9pqdr3_Wbb9jGSl9EBKNNNAhcA6puE&callback=initMap"></script>

		</div>
	</div>

	<!-- end description-->

	<!-- Start meteo -->

	<!-- css/meteo.css -->
	<link rel="stylesheet" href="{{ asset('css/meteo.css')}}"> <div class="popular_places_area">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6">
					<div class="section_title text-center mb_70">
						<h3>La Meteo</h3>
					</div>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-5">
					<div class="card">

						<h2 style="font-weight: 300; font-size: 2.25em; -webkit-animation: up 2s cubic-bezier(0.39, 0, 0.38, 1); ">{{ville.name}}</h2>
						<h3 id="day0" style="float: right; left: 240px; top: -47px; color: #777; font-weight: 400; font-size: 1em; -webkit-animation: up 2s cubic-bezier(0.39, 0, 0.38, 1) 0.1s;"></h3>
						<h3 style="float: left; margin-right: 33px; top: 0px; color: #777; font-weight: 400; font-size: 1em; -webkit-animation: up 2s cubic-bezier(0.39, 0, 0.38, 1) 0.1s;" id="desc"></h3>
						<h1 id="temp" style="float: right; color: #666; font-weight: 300; top: 32px; font-size: 6.59375em; line-height: 0.2em; -webkit-animation: up 2s cubic-bezier(0.39, 0, 0.38, 1) 0.2s;">&deg;</h1>
						<div id="sky"></div>
						<table>
							<tr>
								<td id="day1"></td>
								<td id="day2"></td>
								<td id="day3"></td>
								<td id="day4"></td>
								<td id="day5"></td>
							</tr>
							<tr>
								<td id="icond1"></td>
								<td id="icond2"></td>
								<td id="icond3"></td>
								<td id="icond4"></td>
								<td id="icond5"></td>
							</tr>
							<tr>
								<td id="tempMaxd1"></td>
								<td id="tempMaxd2"></td>
								<td id="tempMaxd3"></td>
								<td id="tempMaxd4"></td>
								<td id="tempMaxd5"></td>
							</tr>
							<tr>
								<td id="tempMind1"></td>
								<td id="tempMind2"></td>
								<td id="tempMind3"></td>
								<td id="tempMind4"></td>
								<td id="tempMind5"></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src={{ asset('js/meteo.js') }}></script>

	<!-- End meteo -->


	{% if hotels is not empty  and hotelMarkers is not empty %}
		<!-- start hotels-->
		<div class="popular_places_area">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-6">
						<div class="section_title text-center mb_70">
							<h3>Hotels</h3>
						</div>
					</div>
				</div>
				<div class="row">
					{% for marker in hotelMarkers %}
						{% for hotel in  hotels%}
							{% if marker.name | replace({' ': '_'}) == hotel.nom | replace({' ': '_'}) %}
								<div id={{marker.name | replace({' ': '_'} )}} class="col-lg-4 col-md-6">
									<div class="single_place">
										<div class="thumb">
											<img width="400" height="340" src="{{asset('/img/hotel/' ~ hotel.imgPath )}}" alt={{hotel.nom}}>
										</div>
										<div class="place_info">
											<a href="destination_details.html">
												<h3>{{marker.name}}</h3>
											</a>
											<div class="rating_days d-flex justify-content-between">
												<span class="d-flex justify-content-center align-items-center">
													<a href="{{path('hotel_like', {'id':hotel.id})}}" class="btn btn-link js-like-hotel">
														{% if app.user  and  hotel.isLikedByUser(app.user) %}
															<i class="fas fa-heart fa-7x"></i>
														{% else %}
															<i class="far fa-heart fa-7x"></i>
														{% endif %}
														<span class="js-liks-hotel">{{hotel.likes| length}}</span>
														<span class="js-label">J'aime</span>
													</a>
												</span>
											</div>
										</div>
									</div>
								</div>
							{% endif %}
						{% endfor %}
					{% endfor %}
				</div>
			</div>
		</div>
	{% endif %}
	<!-- end hotels-->

	<!-- start Restaurants-->
	{% if restos is not empty %}
		<div class="popular_places_area">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-6">
						<div class="section_title text-center mb_70">
							<h3>Restaurants</h3>
						</div>
					</div>
				</div>
				<div class="row">
					{% for marker in restoMarkers %}
						{% for resto in  restos%}
							{% if marker.name | replace({' ': '_'}) == resto.nom | replace({' ': '_'}) %}
								<div id={{marker.name| replace({' ': '_'} )}} class="col-lg-4 col-md-6">
									<div class="single_place">
										<div class="thumb">
											<img style="width: 400px; height: 425px;" src="{{asset('/img/resto/' ~ resto.imgPath)}}" alt="resto.nom">
										</div>
										<div class="place_info">
											<a href="destination_details.html">
												<h3>{{marker.name}}</h3>
											</a>
											<div class="rating_days d-flex justify-content-between">
												<span class="d-flex justify-content-center align-items-center">
													<a href="{{path('resto_like', {'id':resto.id})}}" class="btn btn-link js-like-resto">
														{% if app.user  and  resto.isLikedByUser(app.user) %}
															<i class="fas fa-heart fa-7x"></i>
														{% else %}
															<i class="far fa-heart fa-7x"></i>
														{% endif %}
														<span class="js-liks-resto">{{resto.likes| length}}</span>
														<span class="js-label">J'aime</span>
													</a>
												</span>
											</div>
										</div>
									</div>
								</div>
							{% endif %}
						{% endfor %}
					{% endfor %}
				</div>
			</div>
		</div>
	{% endif %}
	<!-- end Restaurants-->

	<!-- start activite-->
	{% if activites is not empty %}
		<div class="popular_places_area">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-6">
						<div class="section_title text-center mb_70">
							<h3>Activités</h3>
						</div>
					</div>
				</div>
				<div class="row">
					{% for marker in activiteMarkers %}
						{% for activite in  activites %}
							{% if marker.name | replace({' ': '_'}) == activite.nom | replace({' ': '_'}) %}
								<div id={{marker.name| replace({' ': '_'} )}} class="col-lg-4 col-md-6">
									<div class="single_place">
										<div class="thumb">
											<img style="width: 400px; height: 425px;" src="{{asset('/img/activite/' ~ activite.imgPath)}}" alt="activite.nom">
										</div>
										<div class="place_info">
											<a href="destination_details.html">
												<h3>{{marker.name}}</h3>
											</a>
											<div class="rating_days d-flex justify-content-between">
												<span class="d-flex justify-content-center align-items-center">
													<a href="{{path('activite_like', {'id':activite.id})}}" class="btn btn-link js-like-activite">
														{% if app.user  and  activite.isLikedByUser(app.user) %}
															<i class="fas fa-heart fa-7x"></i>
														{% else %}
															<i class="far fa-heart fa-7x"></i>
														{% endif %}
														<span class="js-liks-activite">{{activite.likes| length}}</span>
														<span class="js-label">J'aime</span>
													</a>
												</span>
											</div>
										</div>
									</div>
								</div>
							{% endif %}
						{% endfor %}
					{% endfor %}
				</div>
			</div>
		</div>

	{% endif %}
	<!-- end Restaurants-->

	<!-- start campings-->
	{% if campings is not empty %}
		<div class="popular_places_area">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-6">
						<div class="section_title text-center mb_70">
							<h3>Campings</h3>
						</div>
					</div>
				</div>
				<div class="row">
					{% for marker in campingMarkers %}
						{% for camping in  campings %}
							{% if marker.name | replace({' ': '_'}) == camping.nom | replace({' ': '_'}) %}
								<div id={{marker.name| replace({' ': '_'} )}} class="col-lg-4 col-md-6">
									<div class="single_place">
										<div class="thumb">
											<img style="width: 400px; height: 425px;" src="{{asset('/img/camping/' ~ camping.imgPath)}}" alt="camping.nom">
										</div>
										<div class="place_info">
											<a href="destination_details.html">
												<h3>{{marker.name}}</h3>
											</a>
											<div class="rating_days d-flex justify-content-between">
												<span class="d-flex justify-content-center align-items-center">
													<a href="{{path('camping_like', {'id':camping.id})}}" class="btn btn-link js-like-camping">
														{% if app.user  and  camping.isLikedByUser(app.user) %}
															<i class="fas fa-heart fa-7x"></i>
														{% else %}
															<i class="far fa-heart fa-7x"></i>
														{% endif %}
														<span class="js-liks-camping">{{camping.likes| length}}</span>
														<span class="js-label">J'aime</span>
													</a>
												</span>
											</div>
										</div>
									</div>
								</div>
							{% endif %}
						{% endfor %}
					{% endfor %}
				</div>
			</div>
		</div>
	{% endif %}
	<!-- start comntaire-->

	<div id="cmnt" class="destination_details_info ">
		<div class="container">
			<div class="section_title text-center mb_70">
				<h3>Commentaires</h3>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-8 col-md-9 col-lg-12 ">
					<div class="destination_info" id="comentaires">
						{% for comentaire in comentaires %}
							<h4>{{comentaire.user.nom }}
								{{comentaire.user.prenom }}</h4>
							<p>{{comentaire.comentaire}}</p>
							{% if comentaire.image is not  null %}
								<div class="container">
									<img style="height:200px; width:200px ;" src="{{asset('img/comentaire/' ~ comentaire.image)}}">
								</div>
							{% endif %}
							<div id="border" class="bordered_1px"></div>

						{% endfor %}
					</div>
				</div>
				<div id="Ali" class="bordered_1px"></div>
			</div>

		</div>
	</div>

	<div class="newletter_area overlay">
		<div class="container  d-flex justify-content-center">
			<div class="row align-items-center">
				<div class="row align-items-center">
					<form class="AjaxForm" action="{{path('comentaire')}}" method="post" enctype="multipart/form-data">
						<div class="col-lg-12">
							<div class="single_input">
								<textarea name="" id="comentaire" cols="30" rows="7" placeholder=" votre comentaire"></textarea>
							</div>
						</div>
						<div class="col-lg-12">
							<input name="ville" id="ville" type="hidden" value="{{ville.id}}">
						</div>
						<div class="col-lg-12">

							{%  if app.user %}
								<div class="custom-file">
									<input type="file" class="custom-file-input" id="customFile" accept="image/png, image/jpeg">
									<label class="custom-file-label" for="customFile">
										la  photo choisi</label>
									<br><br>
								</div>

								<div class="newsletter_btn">
									<button class="boxed-btn4 " type="submit">Envoyer<i class="fa fa-send fa-tw cont-send"></i>
									</button>
								</div>
							{% else %}

								<div class="newsletter_text">
									<p>Pour faire un commentaire,  vous devez
										<br>
										être connecté ,
										<button type="button" class="btn btn-secondary">
											<a href="{{path('comentaire')}}">
												ici</a>
										</button>
									</p>
								</div>

							{% endif %}
						</div>
					</form>
				</div>

			</div>
		</div>
	</div>
	<br><br><br>

	<!-- end comntaire-->
{% endblock %}

{% block javascripts %}
	<script src="{{asset('js/like_hotel_camping_activite_resto_ajax.js')}}"></script>
	<script src="{{asset('js/commentaire-ajax.js')}}"></script>
	<script src="{{ asset('js/commentaire-destination-ajax.js') }}"></script>
{% endblock %}
