{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<section class="sign-up text-center ">
		<div class="bac-signup">
			<div class="signup">
				<div class="container d-flex justify-content-center">
					<div class="row">
						<div class="col-lg-12">
							<i class="fa fa-child fa-5x"></i>
							<h1>LOGIN</h1>
						</div>
						<div class="col-lg-12">
							<form method="post">
								{% if error %}
									<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
								{% endif %}

								{% if app.user %}
									<div class="container ">
										<div class="mb-3">
											vous avez connecte dans ,
											{{ app.user.username }},
											<button type="button" class="btn btn-secondary">
												<a href="{{ path('app_logout') }}">Se deconecte</a>
											</button>
										</div>
									</div>
								{% else %}
									<div class="mb-3">
										<label>
											s'inscrire ici
											<button type="button" class="btn btn-secondary">
												<a href="{{ path('app_register') }}">inscription</a>
											</button>
										</label>
									</div>
								{% endif %}
								<div class="col-lg-12">
									<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control  input-lg" placeholder="Email" required autofocus>
									<br>
									<br>
									
								</div>
								<div class="col-lg-12">
									<input type="password" name="password" id="inputPassword" class="form-control  input-lg" placeholder="Mot se passe" required>
									<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
								</div>
								<div class=" col-lg-12">
									<br>
									<br>
									
									<button class="btn  btn-primary btn-lg" type="submit">
										<i class="fa fa-send fa-tw "></i>connexion</button>
								</div>
							</form>
						</div>
					</div>
				</div>
				<br><br><br><br>
			</div>
		</div>

	</section>
{% endblock %}
