<div class="col-lg-4">
	<div class="blog_right_sidebar">
		<aside class="single_sidebar_widget search_widget">
			<form action="{{path('search_blog')}}">
				<div class="form-group">
					<div class="input-group mb-3">
						<input type="text" name="query" class="form-control" placeholder='Rechercher...'>
						<div class="input-group-append">
							<button class="btn" type="button">
								<i class="ti-search"></i>
							</button>
						</div>
					</div>
				</div>
				<button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn" type="submit">Rechercher</button>
			</form>
		</aside>

		{% if  categories is not empty %}
			<aside class="single_sidebar_widget post_category_widget">
				<h4 class="widget_title">Categories</h4>
				<ul class="list cat-list">
					<li>
						<a href="{{path('blog')}}" class="d-flex">
							<p>Toutes</p>
						</a>
					</li>
					{% for categorie in categories %}
						<li>
							<a href="{{path('category_blogs',{'id': categorie.id} )}}" class="d-flex">
								<p>{{categorie.name}}</p>
							</a>
						</li>
					{% endfor %}
				</ul>
			</aside>
		{% endif %}
		{% if tags is not empty  %}
			<aside class="single_sidebar_widget tag_cloud_widget">
				<h4 class="widget_title">Tags</h4>
				<ul class="list">
					{% for tag in tags %}
						<li>
							<a href="{{path('tag_blogs',{'id': tag.id} )}}">{{tag.name }}</a>
						</li>
					{% endfor  %}
				</ul>
			</aside>
		{% endif %}

	</div>
</div>
